/* Core (Shared) */
@import url("core/reset.css");
@import url("core/main-layout.css");
@import url("core/components.css");
@import url("core/forms.css");
@import url("core/cards.css");
@import url("core/states.css");
@import url("core/statistics.css");
@import url("core/breadcrumb.css");
@import url("core/explore-journal-layout.css");
@import url("core/articles-detail.css");
@import url("core/search-modal.css");
@import url("core/journal-list.css");
@import url("core/filters.css");
@import url("core/navigation.css'");

/* Admin Specific */
@import url("admin/journal-crud.css");
@import url("admin/modals.css");
@import url("admin/pagination.css");
@import url("admin/upload.css");
@import url("admin/header-admin.css");
@import url("admin/navigation-admin.css");
@import url("admin/upload-tabs.css");

/* Responsive */
@import url("core/responsive.css");
