@import url("header.css");
@import url("body.css");
@import url("login_admin.css");
@import url("body_2.css");
@import url("journal.css");
@import url("preview-jurnal.css");
@import url("opinions.css");
@import url("index_responsive.css");
@import url("social.css");

@import url("reset.css");           
@import url("layout.css");          
@import url("components.css");      
@import url("forms.css");           
@import url("cards.css");           
@import url("statistics.css");      
@import url("upload.css");          
@import url("modals.css");          
@import url("pagination.css");      