/* Core (Shared) */
@import url("core/reset.css");
@import url("core/breadcrumb.css");
@import url("core/main-layout.css");
@import url("core/components.css");
@import url("core/cards.css");
@import url("core/states.css");
@import url("core/statistics.css");
@import url("core/articles-detail.css");
@import url("core/search-modal.css");
@import url("core/journal-list.css");
@import url("core/filters.css");
@import url("core/navigation.css'");
@import url("core/auth.css");
@import url("core/preview-modal.css");
@import url("core/share-modal.css");

/* User Specific - Header & Navigation */
@import url("user/header-user.css");
@import url("user/navigation-user.css");
@import url("user/user-profile.css");
@import url("user/search-user.css");

/* User Specific - Features*/
@import url("user/articles-section.css");
@import url("user/categories.css");
@import url("user/newsletter.css");
@import url("user/opinions.css");
@import url("user/login-page.css");

/* Responsive */
@import url("core/responsive.css");
