<script src="../../js/api.js"></script>
<script src="../../js/storage.js"></script>
<script src="../../js/login.js"></script>
<script src="../../js/statistic.js"></script>
<script src="../../js/jurnal.js"></script>
<script src="../../js/opinions.js"></script>
<script src="../../js/tags_manager.js"></script>
<script src="../../js/file_upload.js"></script>
<script src="../../js/dual_upload_handler.js"></script>
<script src="../../js/upload_tabs.js"></script>
<script src="../../js/social.js"></script>
<script src="../../js/script.js?v=2025112910"></script>
<script src="../../js/mobile_menu.js"></script>
<script>
  feather.replace();
</script>
