<script type="module" src="../../../assets/js/api.js"></script>
<script src="../../js/storage.js"></script>
<script src="../../js/login.js"></script>
<script src="../../js/statistic.js"></script>
<script src="../../js/jurnal.js"></script>
<script src="../../js/opinions.js"></script>
<script src="../../js/tags_manager.js"></script>
<script
  type="module"
  src="../../../assets/js/admin/file-upload-manager.js"
></script>
<script
  type="module"
  src="../../../assets/js/admin/dual-upload-handler.js"
></script>
<script src="../../js/upload_tabs.js"></script>
<script src="../../js/social.js"></script>
<script type="module" src="../../../assets/js/admin/init-admin.js.js"></script>
<script src="../../js/mobile_menu.js"></script>
<script>
  feather.replace();
</script>
